.container {
    position: relative;
    background-color: #fff;
    width: 840px;
    margin: -40px auto 0;
    padding: 80px;
    border-radius: 8px;
}

@media (max-width: 1000px) {
    .container {
        width: calc(100% - 40px);
        padding: 40px;
        margin: -20px auto 0;
    }
}

@media (max-width: 640px) {
    .container {
        width: calc(100% - 24px);
        padding: 24px;
        margin: -12px auto 0;
        border-radius: 4px;
    }
}